Bin/
Optick/.vs/
Optick/obj/
OptickApp/obj/
OptickApp/packages/
OptickApp/.vs/
gui/obj/
gui/packages/
gui/InteractiveDataDisplay.WPF/obj/
gui/*/obj/
gui/.vs/
[Bb]uild*/
Tools/Publish/
*.suo
*.user
Publish/
*.rej
*.orig
.DS_Store
/Samples/UnrealEnginePlugin/Binaries
/.vs
/samples/UnrealEnginePlugin/GUI/Optick.exe
samples/UnrealEnginePlugin/Source/ThirdParty/Optick/src
*.bak

# Vendor folder
/vendor

#VS Folder
/.vs

#Binary folders
/build

#Visual Studio files
*.vcxproj
*vcxproj.user
*.sln
*.filters

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app